@font-face {
    font-family: 'Minecraft';
    src: url('../../assets/fonts/minecraft.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@import './base.css';
@import './containers.css';
@import './typography.css';
@import './forms.css';
@import './buttons.css';
@import './animations.css';


